@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Book', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -webkit-print-color-adjust: exact !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media print {

    .no-print, .no-print * {
        display: none !important;
    }

    .FP_logo_print {
        margin-left: 42%;
        width: 130px;
        height: 70px;
        position: fixed;
        bottom: 0px;
    }

    /*-----Letter-----*/

    .letter_title {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        text-decoration: underline;
        font-size: 24px;
    }

    .letter_p {
        font-weight: bold;
    }

    .letter_logo_bottom {
        /*margin-left: 42%;*/
        width: 400px;
        height: 70px;
        position: fixed;
        left: 25%;
        right: 65%;
        bottom: 0px;
    }

    .letter_l {
        float: left;
    }

    .letter_r {
        float: right;
    }

    /*---Letter End---*/



    /************************ SPECIFIC PAGES CLASSES *************************/

    /*-----Teacher Reminders-----*/

    .Teacher_Reminders_Section {
        font-size: 13px;
    }   

    .Teacher_Reminders_L {
        float: left;
    }

    .Teacher_Reminders_R {
        float: right;
    }

    /*---Teacher Reminders End---*/


    /*-----School Visit Checklist-----*/

    .SVC_Section_Line {
        border-top: 1px solid gray;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    /*-----School Visit Checklist End-----*/

    /************************ SPECIFIC PAGES CLASSES END *********************/


}

@media (min-width:1001px) {

}










