
/*    USE 'Ctrl + M + H' TO HIDE BLOCKS OF CODE    */


/************************ CLASSES USED ON MULTIPLE PAGES *************************/

/*-----Main Classes-----*/

.ddl {
    border-radius: 25px;
    padding: 1px;
    text-align: left;
    border: 1px solid gray;
    transition-duration: 0.2s;
    font-size: 14px;
    height: 25px;
}

    .ddl:hover {
        border: 1px solid #34911e;
    }

.textbox {
    border-radius: 15px;
    border: 1px solid gray;
    text-align: left;
    padding: 1px;
    padding-left: 6px;
    font-size: 14px;
    height: 20px;
    font-family: 'Franklin Gothic Book', sans-serif;
}

    .textbox:hover {
        border: 1px solid #34911e;
    }

#Site_Wrap_Fullscreen {
    display: block;
    height: 100%;
    width: 100%;
    ms-transform-origin: top left;
    webkit-transform-origin: top left;
    transform-origin: top left;
    webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
    position: absolute;
    font-family: 'Franklin Gothic Book', sans-serif;
}

#Site_Wrap_Header {
    font-family: 'Franklin Gothic Book', sans-serif;
    grid-gap: 0px;
    display: grid;
    grid-template-areas: "header1 header2 header3"
        "main main main"
        "footer1 footer2 footer3";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90% 0%;
    height: 100%;
    width: 100%;
    ms-transform-origin: top left;
    webkit-transform-origin: top left;
    transform-origin: top left;
    webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
    position: absolute;
    overflow: auto;
}

body {
    margin: 0;
    background-color: #8ec851;
}

h3 {
    font-size: 42px;
    text-decoration: underline;
}

.underline {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: black;
    font-size: 24px;
}

.content_div {
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    float: right;
    width: 75%;
}

.blurArea {
    transition: 0.5s;
}

.blurArea#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.directionsBlock {
    margin-top: 10px;
    font-size: calc(10px + .8vw);
    margin-left: 30px;
    margin-right: 30px;
}

.directions {
    float: left;
    color: white;
    font-weight: bold;
    width: 50%;
}

.unlocked {
    float: right;
    color: black;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}

    #popup.active {
        top: 50%;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }

.popup_textbox {
    border-radius: 15px;
    border: 1px solid gray;
    text-align: center;
    padding: 1px;
    padding-left: 6px;
    font-size: 24px;
    height: 40px;
    width: 60px;
    font-family: 'Franklin Gothic Book', sans-serif;
}

    .popup_textbox:hover {
        border: 1px solid #34911e;
    }

.popup_header {
    font-size: 18px;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        text-decoration: underline;
        font-weight: bold;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 8px;
        left: 8px;
        border: 2px solid #116bfa;
        width: 230px;
        height: 230px;
        border-radius: 25%;
    }

/* Create a custom radio button */
.checkmark {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;   
    font-size: calc(10px + .8vw);
    display: block;
}



/*-----End Main Classes-----*/



/*-----Headers-----*/

.headerStart {
    margin-right: auto;
    margin-top: 40px;
    max-width: 80%;
    background: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 5px 10px -1px #515151;
}

    .headerStart img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
        transform: scale(.9,.9);
    }

.header {
    background: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 5px 10px -1px #515151;
    height: 10%;
    position: relative;
}

.headerFPLogo {
    width: 100%;
    max-width: 20%;
    height: 100%;
    object-fit: scale-down;
    transform: scale(.8,.8);
    display: block;
    float: right;
}

.headerTitle {
    font-size: calc(15px + 2vw);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/*-----End Headers-----*/



/*-----Logos-----*/

.Business_logo {
    display: block;
    margin: auto;
    padding-top: 9px;
    padding-bottom: 7px;
    max-width: 90%;
    min-width: 20%;
    height: 85%;
}

.EV_logo {
    display: block;
    margin-right: auto;
    padding-top: 15px;
    margin-left: auto;
    max-width: 90%;
    min-width: 20%;
    height: 99%;
}

/*-----End Logos-----*/



/*-----Buttons-----*/

.button {
    background-color: #00a632;
    border-radius: 10px;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    /*box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.24),0 17px 500px 0 rgba(0,0,0,0.19);*/
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: none;
}

    .button:hover {
        background-color: darkgreen;
    }

.buttonLarge {
    background-color: #20690f;
    border-radius: 50px;
    border-style: initial;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(17px + 2vh);
    margin: 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    box-shadow: 0 6px #164a0a;

}

    .buttonLarge:hover {
        background-color: #268710;
        box-shadow: 0 4px #164a0a;
        bottom: -2px;
    }

    .buttonLarge:active {
        box-shadow: none;
        bottom: -6px;
    }

.buttonReset {
    background-color: #afafaf;
    border-radius: 10px;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    /*box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.24),0 17px 500px 0 rgba(0,0,0,0.19);*/
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: none;
}
    .buttonReset:hover {
        background-color: #858585;
    }

.buttonNav {
    background-color: #00a632;
    border-radius: 10px;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(6px + .8vw);
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    /*box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.24),0 17px 500px 0 rgba(0,0,0,0.19);*/
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: none;
    box-shadow: 0px 5px 10px -1px #515151;
}

    .buttonNav:hover {
        background-color: darkgreen;
    }


/*-----Buttons End-----*/



/************************ SPECIFIC PAGES CLASSES *************************/

/*-----Sim Start-----*/

.Sim_Start_Logo_Back {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 80%;
    background: white;
    border-radius: 25px;
}

.Sim_Start_Btn_Div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 80%
}

.Sim_Start_Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 70%;
}

.Sim_Start_Btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    max-width: 30%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*-----Sim Start End-----*/



/*-----Sim Login-----*/

.Sim_Login_Div {
    border: 2px solid black;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 40%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: darkgreen;
}

.Sim_Login_Fields {
    float: right;
}

.Sim_Login_Top {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    color: black;
    font-size: 24px;
}

/*-----Sim Login End-----*/




/*-----Sim Research-----*/

.Sim_Research_Button {
    border: 1px solid gray;
    border-radius: 5px;
    color: darkgreen;
    background-color: #f0f0f0;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    text-align: right;
    width: 160px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 10px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

    .Sim_Research_Button:active {
        background-color: #bababa;
    }

.Sim_Research_Table {
    margin-left: auto;
    margin-right: auto;
}

/*-----Sim Research End-----*/





/*-----Sim Business-----*/

.Sim_Business_Content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.Sim_Business_Script {
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    float: right;
    width: 80%;
    height: 50vh;
    padding: 10px;
}

/*-----Sim Business End-----*/



/*-----Sim Life Style-----*/

.Sim_Life_Style_QBox {
    border: 2px solid #8ec851;
    border-radius: 15px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Sim_Life_Style_Question {
    font-size: calc(15px + .8vw);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.Sim_Life_Style_Written {
    
}

.Sim_Life_Style_TB {
    border-radius: 15px;
    border: 1px solid gray;
    padding: 1px;
    padding-left: 6px;
    text-align: left;
    font-size: 14px;
    font-family: 'Franklin Gothic Book', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

    .Sim_Life_Style_TB:hover {
        border: 1px solid #34911e;
    }

.Sim_Life_Style_Word_Count_A {
    font-size: 10px;
}

/*-----Sim Life Style End-----*/



/*-----Sim Life Scenario-----*/

.Sim_Life_Scenario_Name {
    font-size: calc(10px + 0.8vw);
    color: darkgreen;
    font-weight: bold;   
}

.Sim_Life_Scenario_Job {
    font-size: calc(7px + 0.8vw);
    font-weight: bold;
}
/*ASC is age, status children*/
.Sim_Life_Scenario_ASC { 
    font-size: calc(6px + 0.8vw);
    color: gray;
}

.Sim_Life_Scenario_Acct {
    font-size: calc(7px + 0.8vw);
    font-weight: bold;
    float: right;
    text-align: right;
}

.Sim_Life_Scenario_Info {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 2.5px;
    padding: 5px;
}

.Sim_Life_Scenario_Finances {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.Sim_Life_Scenario_BG {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
    margin-top: 2.5px;
    padding: 5px;
}

.Sim_Life_Scenario_Table {
    font-weight: bold;
    font-size: calc(7px + 0.8vw);
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

.Sim_Life_Scenario_Table_Cat {
    color: darkgreen;
}

.Sim_Life_Scenario_Table_Value {
    color: black;
    font-weight: bold;
    float: right;
    text-align: right;
}

/*-----Sim Life Scenario End-----*/





/*-----Sim Calculations-----*/

.Sim_Calc_Income {

}

.Sim_Calc_Income_Bottom {

}

.Sim_Calc_Button {

}

/*-----Sim Calculations End-----*/


/*-----Multiple Sim Pages-----*/
.Sim_Content_With_Sponsor {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
}

.Sim_Content_Right {
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    float: right;
    width: 75%;
    padding: 5px;
}

.Sim_Sponsor {
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    width: 20%;
    float: left;
    position: relative;
    height: auto;
    display: inline-block;
    box-sizing: border-box;
}

.Sim_Sponsor_Content {
    border: 2px solid gray;
    margin: 5px;
    box-sizing: border-box;
}

.Sim_Sponsor_Header {
    border-bottom: 1px solid gray;
    font-size: calc(3px + .8vw);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.Sim_Sponsor_Button {
    background-color: #00a632;
    border-radius: 10px;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(3px + .8vw);
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    /*box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.24),0 17px 500px 0 rgba(0,0,0,0.19);*/
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: none;
}

    .Sim_Sponsor_Button:hover {
        background-color: darkgreen;
    }

/*-----Multiple Sim Pages End-----*/

/************************ SPECIFIC PAGES CLASSES END *************************/

